<!--
  @component x-viewport
  @description Viewport dimension reporter. Sets --vv-width CSS var and size attribute (xs/sm/md/lg/xl) on host based on visual viewport.
  @usage <x-viewport></x-viewport> (use via CSS var --vv-width elsewhere)
  @impl Script listens to visualViewport resize, computes size breakpoint, updates host attributes.
-->
<template shadowrootmode="open">

<style>
:host{ display:block; }
</style>

<slot></slot>


<script>
const host=this;
const vv=window.visualViewport;
function update(){
    const w=vv ? vv.width : (window.innerWidth || document.documentElement.clientWidth || 0);
    host.el.style.setProperty("--vv-width",w+"px");
    let size="xl";
    if(w<480) size="xs";
    else if(w<768) size="sm";
    else if(w<1024) size="md";
    else if(w<1440) size="lg";
    host.el.setAttribute("size",size);
}
update();
(vv||window).addEventListener("resize",update,{signal:host.signal});
</script>
</template>

